@model int

<div class="cart-container">
    <a href="/Cart/Checkout" class="cart-button">
        <span class="cart-icon">
            <img src="~/images/products/cart.png" alt="cart" class="cart-image">
        </span>
        <span class="item-count">@Model</span>
    </a>
</div>