<form asp-action="SearchResults">
    <div class="wrap">
        <div class="search">
            <input name="searchTerm" class="searchTerm" placeholder="Search a bug?"/>
        </div>
        <div class="search">
            <input type="submit" value="Search" class="searchButton" />
        </div>
    </div>
</form>