<head>
    <link rel="stylesheet" type="text/css" href="~/css/MockPages/products.css" />
</head>

<div class="title-bar">
    <div class="title">
        The Bug Emporium
    </div>
</div>

<div class="header-container">
    <div class="search-bar">
        @await Html.PartialAsync("_SearchBar.cshtml")
    </div>
    
    @{
        int cartCount = ViewBag.cartCount;
    }
    <div class="header-cart">
        @await Html.PartialAsync("_CartButton.cshtml", cartCount)
    </div>
</div>
