@model WebApp.Models.ProductModel

<head>
    <link rel="stylesheet" type="text/css" href="~/css/MockPages/singleProduct.css" />
</head>

@await Html.PartialAsync("_TopBar.cshtml")

<div class="product-container">
    <div class="product-image">
        @if (Model.Image != null && Model.Image.Length > 0)
        {
            <div>
                <img src="data:image/png;base64,@Convert.ToBase64String(Model.Image)" class="img-thumbnail" alt="Product Image" class="img-fluid large-image"/>
            </div>
        }
    </div>

    <div class="product-details">
        <h4>@Html.DisplayFor(product => product.Name)</h4>
        <h3 class="product-price">@Html.DisplayFor(product => product.Price)</h3>
        <p>@Html.DisplayFor(product => product.Description)</p>

        <!-- Form to add to cart -->
        <form asp-action="AddToCart" asp-asp-controller="CartController" method="post">
            <input type="hidden" asp-for="ID" />
            <input type="hidden" asp-for="Name" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="Price" />

            <!-- Add to Cart button -->
            <p>@Html.DisplayFor(product => product.Stock)</p>
            <button type="submit" class="btn btn-primary">Add to Cart</button>
        </form>
    </div>
</div>