<!DOCTYPE html>
<html lang="en">
<form id="form1" runat="server">
    <div>
        <div class="container" style="padding:15px 20px; width:auto; ">
            <div class="row">
                <div class="col-md-6">
                    <asp:TextBox ID="textComment" runat="server" CssClass="input-group" TextMode="Mutiline" Width="300px" Height="60px" Rows="15" >
                        
                    </asp:TextBox>
                </div>
            </div>
        </div>
    </div>
</form>
</html>