<!DOCTYPE html>
@{
    ViewData["Title"] = "Blog Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/MockPages/blog.css">
</head>

<div class="all-container">
    <header class="blog-header">
        <h1>Most Important Page</h1>
        <p class="subtitle">Please read all</p>
    </header>

    <div class="blog-container">
        <section class="blog-posts">
            <!-- Mock Blog Post 1 -->
            <article class="blog-post-1">
                <img src="~/images/blog/bluecat2.png" alt="blue cat" class = "blog-image">
                <p class="post-content">
                    Have you seen this cat?
                </p>
                <a href="#" class="read-more">Read more</a>
                <p class="post-meta">Posted on September 9, 2024 by meeee :3</p>
            </article>

            <!-- Mock Blog Post 2 -->
            <article class="blog-post-2">
                <div class="post-header">
                    <h2 class="post-title">I loveeeee the internet &lt;3 </h2>
                    <p class="post-meta">Posted on August 20, 2024 by me again :3</p>
                </div>
                <div class="scrollbox">
                    <p class="post-content">
                        Blaaa blaa bla bla blaaa bla bla blaa blaa bla blaaa blaa bla bla blaaa bla bla blaa blaa bla blaa bla bla blaaa bla bla blaa blaa bla blaaa blaa bla bla blaaa bla bla blaa blaa bla blaa bla bla blaaa bla bla blaa blaa bla blaaa blaa bla bla blaaa bla bla blaa blaa bla.
                    </p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </article>

            <!-- Mock Blog Post 3 -->
            <article class="blog-post-3">
                <img src="~/images/blog/bluecat1.png" alt="blue cat" class = "blog-image">
                <p class="post-content">
                    Bro check this guy out
                </p>
                <a href="#" class="read-more">Read more</a>
                <p class="post-meta">Posted on September 9, 2024 by meeee :3</p>
            </article>


            <!-- Mock Blog Post 4 -->
            <article class="blog-post-2">
                <div class="post-header">
                    <h2 class="post-title">hello</h2>
                    <p class="post-meta">Posted on December, 2030 by meeeeee :3</p>
                </div>
                <div class="scrollbox">
                    <p class="post-content">
                        I am from the future.
                    </p>
                    <a href="#" class="read-more">Read more</a>
                </div>
            </article>

        </section>
    </div>
</div>