/* styles.css */

body {
    background-color: #121212;
    color: #f1f1f1;
}

h1 {
    color: #f8f9fa; /* Light color for the heading */
    font-size: 2rem; /* Larger font size */
    margin-bottom: 3rem; /* Space below the title */
}

.header-bar {

}

.header-container {
    background-color: #121212;
    border-bottom-color: #272727;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distributes the elements (cart, title, search bar) evenly */
    flex-wrap: wrap;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 999;
}

.title {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.card {
    background-color: #121212; /* Dark card background */
    border-color: #121212;
    color: #ffffff; /* White text color */
    width: 18rem; /* Consistent card width */
    height: 27rem; /* Consistent card height */
    display: flex;
    flex-direction: column; /* Ensure vertical alignment in the card */
}

.card-title {
    /* font-weight: bold; */
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.card-text {
    font-size: 1.2rem;
}

.btn-primary {
    background-color: #979797;
    border: none;
}

a:hover {
    text-decoration: none;
}

.container {
    padding-top: 2rem; /* Add space at the top of the container */
}

/* Ensuring uniform image sizes within cards */
.fixed-image-size {
    width: 100%; /* Full width of the card */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Maintains aspect ratio and fills the image space */
}

/* Align card body content at the bottom */
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Ensure content is at the bottom */
    flex-grow: 1;
}

/* Styling the horizontal line between rows */
.card-row-divider {
    border: 0;
    border-top: 1px solid #ffffff33; /* Thin white line with opacity */
    margin: 2rem 0; /* Spacing between rows */
}

.search {
    position: relative;
    display: flex;
  }
  
.searchTerm {
    width: 20rem;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #00B4CC;
}

.searchButton {
    width: 70px;
    height: 40px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    display: flex;
    justify-content:right;
}

.header-cart {
    display: flex;
    justify-content: right;
}

/* SHOPPING CART ICON */
.cart-container {
    position: relative;
    display: inline-block;
}

.cart-button {
    display: flex;
    align-items: center;
    background-color: #00B4CC;  /* Button background color */
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 40px;
    position: relative;
    transition: background-color 0.3s ease;
}

.cart-button:hover {
    background-color: #008fa1;  /* Button hover effect */
}

.cart-icon {
    font-size: 20px;  /* Adjust size of the cart icon */
    margin-right: 1px;
    max-width: 28px;
    max-height: 28px;
}

.cart-image {
    max-width: 100%;
    max-height: 100%;
}

.item-count {
    background-color: #ff0000;  /* Red background for the number */
    color: white;
    padding: 5px;
    border-radius: 50%;
    font-size: 13px;
    min-width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -5px;
    right: -5px;
}